[user]
	name = Kristján Oddsson
	email = koddsson@gmail.com
	signingkey = 55103ED7B821DC13
[alias]
	st = status -sb
	recent = !x git-recent
	ranch = !imgcat ~/Downloads/cowbow-kitten.jpg
[core]
	pager = delta
	editor = nvim
	excludesfile = ~/.gitignore
	fsmonitor = true
	untrackedCache = true
[commit]
	verbose = true
	template = ~/.gitmessage
	gpgsign = false
[github]
	user = koddsson
[push]
	default = simple
	autoSetupRemote = true
	followTags = true
[grep]
	lineNumber = true
[gc]
	auto = 1
[http]
	sslVerify = true
[help]
	autocorrect = -1
[rebase]
	autoStash = true
	autosquash = true
	updateRefs = true
[merge]
	tool = vimdiff
	conflictstyle = zdiff3
[mergetool]
	prompt = true
[mergetool "vimdiff"]
	cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
	tool = difftastic
	algorithm = histogram
	colorMoved = plain
	mnemonicPrefix = true
	renames = true
[difftool]
	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
	difftool = true
[pull]
	rebase = true
[remote "origin"]
	prune = true
[init]
	defaultBranch = main
[submodule]
	recurse = true
[include]
	path = ~/.gitconfig-osx
[branch]
	autoSetupMerge = always
	sort = -committerdate
[rerere]
	enabled = true
	autoupdate = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = true
[column]
	ui = auto
[tag]
	sort = version:refname
[fetch]
	prune = true
	pruneTags = true
	all = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
