[user]
  name = Kristján Oddsson
  email = koddsson@gmail.com
	signingkey = 55103ED7B821DC13
[alias]
  st = status -sb
  recent = !x git-recent
  ranch = !imgcat ~/Downloads/cowbow-kitten.png
[core]
  pager = delta
  editor = nvim
  excludesfile = ~/.gitignore
[commit]
  verbose = true
  template = ~/.gitmessage
	gpgsign = false
[github]
  user = koddsson
[push]
	default = simple
	autoSetupRemote = true
	autoSetupRemote = true
[grep]
  lineNumber = true
[gc]
  auto = 1
[http]
  sslVerify = true
[help]
  autocorrect = -1
[rebase]
  autoStash = 1
  autoquash = true
[merge]
  tool = vimdiff
	conflictstyle = diff3
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[diff]
  tool = difftastic
  algorithm = histogram
  colorMoved = default
[difftool]
  prompt = false
[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"
[pager]
  difftool = true
[pull]
  rebase = false
[remote "origin"]
  prune = true
[init]
  defaultBranch = main
[submodule]
  recurse = true
[include]
  path = ~/.gitconfig-osx
[branch]
  autoSetupMerge = always
[rerere]
  enabled = true
[interactive]
  diffFilter = delta --color-only
[delta]
    navigate = true    # use n and N to move between diff sections
    light = true      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
